<main th:remove="tag">
    <div class="main-container">
        <div class="login-form">
            <form th:action="@{/article/create}" method="post">
                <label for="title">Title</label>
                <input type="text" id="title" placeholder="Title" name="title"/>

                <label for="content">Content</label>
                <textarea rows="6" id="content" name="content"></textarea>

                <label for="category">Category</label>
                <input type="text" id="category" placeholder="Category" name="category"/>

                <label for="image">Image Source</label>
                <input type="text" id="image" placeholder="Image Source" name="image"/>

                <label for="tags">Tags</label>
                <textarea rows="6" id="tags" name="tags"></textarea>

                <div class="login-buttons">
                    <a class="btn" th:href="@{/}">Cancel</a>
                    <button type="submit" class="btn" onClick="return checker();">Create</button>
                </div>
            </form>
        </div>
    </div>
</main>