<main th:remove="tag">
    <div class="main-container clearfix">
        <div class="page-section">
            <div class="article-holder">
                <div class="article-buttons text-right" sec:authorize="isAuthenticated()">
                    <a th:href="@{/article/edit/{id}(id=${article.id})}"><button
                            class="btn fonts-bangers">Edit</button></a>
                    <a th:href="@{/article/delete/{id}(id=${article.id})}"><button
                            class="btn fonts-bangers">Delete</button></a>
                </div>

                <div class="article-body text-center">
                    <h4 class="article-info fonts-regular">
                        <object><a th:href="@{/{category}(category=${article.category})}"
                                th:text="${article.category}"></a></object>
                    </h4>

                    <h1 class="article-title fonts-bangers" th:text="${article.title}"></h1>

                    <div class="article-info fonts-regular">
                        <span>by
                            <span th:text="${article.author.fullName}"></span>
                        </span>

                        <span> | </span>

                        <span th:text="${#dates.format(article.date, 'dd.MM.yyyy')}"></span>
                    </div>
                </div>

                <div class="article-image">
                    <img class="parallelogram-image" th:src="@{'data:image/jpeg;base64,'+${articleImages[0]}}" alt=""/>
                </div>

                <div class="article-content text-justify">
                    <p th:text="${article.content}"></p>
                </div>

                <th:block th:if="${article.images.size()} == 2">
                    <div class="article-image">
                        <img class="parallelogram-image" th:src="@{'data:image/jpeg;base64,'+${articleImages[1]}}" alt=""/>
                    </div>
                </th:block>

                <th:block th:if="${article.images.size()} == 3">
                    <div class="article-image">
                        <img class="parallelogram-image" th:src="@{'data:image/jpeg;base64,'+${articleImages[1]}}" alt=""/>
                    </div>
                    <br/>
                    <div class="article-image">
                        <img class="parallelogram-image" th:src="@{'data:image/jpeg;base64,'+${articleImages[2]}}" alt=""/>
                    </div>
                </th:block>

                <th:block th:if="${article.documents.size()} > 0">
                    <th:block th:each="document, i : ${articleDocuments}">
                        <div class="article-document-holder">
                            <iframe class="article-document" th:src="@{'data:application/pdf;base64,'+${document}}" allowfullscreen="true"></iframe>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>

        <th:block th:if="${articleTags.size()} > 0">
            <div class="page-section">
                <div class="popular-tags">
                    <th:block th:each="tag : ${articleTags}">
                        <a th:href="@{/{tag}(tag=${tag})}">
                            <p class="fonts-bangers" th:text="${tag}"></p>
                        </a>
                    </th:block>
                </div>
            </div>
        </th:block>

        <th:block th:if="${similarArticles.size()} > 0">
            <div class="page-section post-section">
                <h1 class="fonts-bangers">You may also like:</h1>
    
                <ul class="page-subsection">
                    <li class="article-holder" th:each="article, i : ${similarArticles}">
                        <a th:href="@{/article/{id}(id=${article.id})}">
                            <div class="article">
                                <div class="similar-articles-descriptions">
                                    <h4 class="article-info fonts-regular">
                                        <object><a th:href="@{/{category}(category=${article.category})}" th:text="${article.category}"></a></object>
                                    </h4>
    
                                    <h3 class="fonts-bangers" th:text="${article.title}"></h3>
                                </div>
    
                                <div class="similar-articles-images">
                                    <img class="similar-articles-images parallelogram-image" th:src="@{'data:image/jpeg;base64,'+${similarArticlesImages[i.index]}}" alt=""/>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </th:block>
    </div>
</main>