<main th:remove="tag">
    <div class="main-container clearfix">
        <div class="primary">
            <div class="article-holder">
                <div class="article-buttons text-right">
                    <a th:href="@{/article/edit/{id}(id=${article.id})}"><button class="btn fonts-bangers">Edit</button></a>
                    <a th:href="@{/article/delete/{id}(id=${article.id})}"><button class="btn fonts-bangers">Delete</button></a>
                </div>

                <div class="article-body text-center">
                    <h4 class="article-info fonts-display">
                        <object><a th:href="@{/{category}(category=${article.category})}" th:text="${article.category}"></a></object>
                    </h4>

                    <h1 class="article-title fonts-bangers" th:text="${article.title}"></h1>

                    <div class="article-info fonts-display">
                                    <span>by
                                        <span th:text="${article.author.fullName}"></span>
                                    </span>

                        <span> | </span>

                        <span th:text="${#dates.format(article.date, 'dd.MM.yyyy')}"></span>
                    </div>
                </div>

                <div class="article-image article-details">
                    <img th:src="@{'data:image/jpeg;base64,'+${articleImages[0]}}" alt=""/>
                </div>

                <div class="article-content">
                    <p th:text="${article.content}"></p>
                </div>

                <th:block th:if="${article.images.size()} == 2">
                    <div class="article-image article-details">
                        <img th:src="@{'data:image/jpeg;base64,'+${articleImages[1]}}" alt=""/>
                    </div>
                </th:block>

                <th:block th:if="${article.images.size()} == 3">
                    <div class="article-image article-details">
                        <img th:src="@{'data:image/jpeg;base64,'+${articleImages[1]}}" alt=""/>
                    </div>
                    <br/>
                    <div class="article-image article-details">
                        <img th:src="@{'data:image/jpeg;base64,'+${articleImages[2]}}" alt=""/>
                    </div>
                </th:block>
            </div>

            <div class="page-section post-section">
                <h1 class="fonts-bangers">You may also like:</h1>

                <ul class="page-subsection">
                    <li class="article-holder" th:each="article, i : ${similarArticles}">
                        <a th:href="@{/article/{id}(id=${article.id})}">
                            <div class="article">
                                <div class="similar-articles-descriptions">
                                    <h4 class="article-info fonts-display">
                                        <object><a th:href="@{/{category}(category=${article.category})}" th:text="${article.category}"></a></object>
                                    </h4>

                                    <h3 class="fonts-bangers" th:text="${article.title}"></h3>
                                </div>

                                <div class="similar-articles-images">
                                    <img class="similar-articles-images" th:src="@{'data:image/jpeg;base64,'+${similarArticlesImages[i.index]}}" alt=""/>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar text-center">
            <div class="widget search-field">
                <form th:action="@{/}" th:object="${s}">
                    <th:block th:if="${s}">
                        <input type="search" placeholder="Search..." th:value="${s}" name="s"/>
                    </th:block>
                    <th:block th:unless="${s}">
                        <input type="search" placeholder="Search..." name="s"/>
                    </th:block>
                    <input type="submit" class="search-submit" onClick="return checker();" value="Search"/>
                </form>
            </div>

            <div class="widget social-media-holder fonts-display">
                <ul class="social-list">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/kaloyan.madjunov"><img th:src="@{/img/facebook.png}"/></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/kaloyanmad/"><img th:src="@{/img/instagram.png}"/></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com/apple_banana/"><img th:src="@{/img/pinterest.png}"/></a>
                    </li>
                </ul>
            </div>

            <div class="widget quote-of-the-day fonts-display">
                <h2>Quote of the day</h2>
                <p style="font-style: italic;">"The human body is the best picture of the human soul."</p>
                <p>- Ludwig Wittgenstein</p>
            </div>

            <div class="widget categories fonts-display">
                <ul class="categories-list">
                    <a th:href="@{/fitness}"><li>Fitness</li></a>
                    <a th:href="@{/food}"><li>Food</li></a>
                    <a th:href="@{/lifestyle}"><li>Lifestyle</li></a>
                </ul>
            </div>
        </div>
    </div>
</main>