<main th:remove="tag">
    <div class="main-container">
        <div class="page-section">
            <form id="form-horizontal" th:action="@{/register}" method="post">
                <p class="form-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Email" name="email" value="" size="40" required="required" aria-invalid="false"/>
                </p>

                <p class="form-field">
                    <label for="fullName">Full Name</label>
                    <input type="text" id="fullName" placeholder="Full Name" name="fullName" value="" size="40" required="required" aria-invalid="false"/>
                </p>

                <p class="form-field">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password" name="password" required="required"/>
                </p>

                <p class="form-field">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required="required"/>
                </p>

                <p>
                    <input name="submit" type="submit" id="submit" class="form-submit fonts-bangers" onClick="return checker();" value="Register"/>
                    <a th:href="@{/}"><button class="btn fonts-bangers">Cancel</button></a>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </p>
            </form>
        </div>
    </div>
</main>