<head th:fragment="head" th:remove="tag">
    <meta charset="utf-8"/>
    <title>The Aesthetic Beast</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page-header.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page-footer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/about.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/contact.css}" rel="stylesheet" type="text/css"/>
</head>