<head th:fragment="head" th:remove="tag">
    <meta charset="utf-8"/>
    <title>The Aesthetic Beast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bangers" />
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/scripts/1.8.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/scripts/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/scripts/rotating-head.js}" type="text/javascript"></script>
</head>