<main th:remove="tag">
    <div class="main-container clearfix">
        <div class="page-section text-center">
            <h1 class="article-title fonts-bangers">Nothing Found</h1>

            <div class="page-content">
                <p class="fonts-regular">Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>

                <form th:action="@{/}" th:object="${s}">
                    <th:block th:if="${s}">
                        <input type="search" placeholder="Search..." th:value="${s}" name="s"/>
                    </th:block>
                    <th:block th:unless="${s}">
                        <input type="search" placeholder="Search..." th:value="${s}" name="s"/>
                    </th:block>
                    <input type="submit" class="search-submit" onClick="return checker();" value="Search"/>
                </form>
            </div>
        </div>
    </div>
</main>