.page-section {
    border-bottom: 1px solid;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.page-section:first-of-type {
    border-top: 1px solid;
    padding-top: 5%;
}

.page-subsection {
    position: relative;
    text-align: center;
    z-index: 0;
}

.about-main-subsection {
    height: 350px;
    background: #8b4a2e url(../img/fitness-pattern.jpg) repeat center center;
}

.about-secondary-subsection {
    height: 450px;
    width: 36%;
}

.about-food-subsection {
    background: #8b4a2e url(../img/healthy-food-pattern.jpg) repeat center center;
    float: left;
}

.about-programming-subsection {
    background: #163a5e url(../img/programming-pattern.jpg) repeat center center;
    float: right;
}

.rotating-head {
    padding: 95px 0;
}

.text {
    width: 100%;
    top: 15%;
    left: 0;
    z-index: 20;
}

.about-title {
    line-height: 1;
    color: #12130F;
    margin: 20px 0 20px;
}

.about-intro {
    float: none;
    line-height: 1.4;
}

.about-intro p {
    margin-bottom: 0;
    color: #12130F;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.main-intro {
    max-width: 980px;
    margin: 4% auto 0;
    width: calc(100% - 300px);
}

.image-section {
    width: 36%;
}

.image-section img {
    display: block;
    width: 100% !important;
    height: auto;
}

.mid-section-bar {
    margin: 30px 0;
}