.about-photo-holder {
    float: left;
    margin: 40px 0 0 50px;
    position: relative;
    width: 30%;
}

.about-photo-holder img {
    width: 100%;
    height: 70%;
}

.about-content {
    float: left;
    position: relative;
    width: 50%;
    margin: 40px 0 0 100px;
}