.about-section {
    border-bottom: 1px solid;
    margin-bottom: 2.2em;
    padding: 2.2em 15px;
}

.about-section:first-of-type {
    border-top: 1px solid;
}

.section-odd {
    background: #EAE6E5;
}

.section-even {
    background: #8FCB9B;
}

.about-photo-holder {
    position: relative;
    width: 40%;
}

.about-photo-holder img {
    width: 100%;
    height: auto;
}

.about-content {
    position: relative;
    width: 60%;
}