* {
  -webkit-box-sizing: border-box; /*Search, also :before and :after*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  word-spacing: 1px;
  line-height: 26px;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  text-transform: none;
  letter-spacing: 0;
  color: #12130F;
}

h1, h2, h3, h4, h5, h6 {
  color: #343434;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  color: #000;
  border: 1px solid #000;
  background: none;
}

textarea {
  padding: 0.5em 1em;
  width: 100%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"] {
  padding: 4px 12px 6px;
}

.fonts-frijole {
  font-family: 'Frijole', cursive;
  font-weight: 300;
}

.fonts-display {
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.licorice-color {
  color: #12130F !important;
}

.wintergreen-dream-color {
  color: #5B9279 !important;
}

.eton-blue-color {
  color: #8FCB9B !important;
}

.platinum-color {
  color: #EAE6E5 !important;
}

.cinereous-color {
  color: #8F8073 !important;
}

.wrapper {
  margin: 5px;
}

.main-container {
  margin: 2.2em auto 5em;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1414px) {
  .main-container {
    width: 1020px;
  }
  .about-subsection {
    padding: 10px 30px;
  }
  .main-title {
    font-size: 50px;
  }
  .secondary-title {
    font-size: 40px;
  }
  .image-section{
    height: 350px;
  }
  .about-intro p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1415px) {
  .main-container {
    width: 1313px;
  }
  .about-subsection {
    padding: 20px 30px;
  }
  .main-title {
    font-size: 55px;
  }
  .secondary-title {
    font-size: 50px;
  }
  .image-section{
    height: 450px;
  }
  .about-intro p {
    font-size: 22px;
  }
}

@media screen and (min-width: 1602px) {
  .main-container {
    width: 1400px;
  }
  .about-subsection {
    padding: 30px;
  }
  .main-title {
    font-size: 60px;
  }
  .secondary-title {
    font-size: 50px;
  }
  .image-section{
    height: 500px;
  }
  .about-intro p {
    font-size: 24px;
  }
}

.primary {
  float: left;
  width: 69%;
  position: relative;
  box-shadow: 1px 0px 0px 0px, 5px 0px 0px 0px #fff, 6px 0px 0px 0px;
  padding: 0 2em 0 0;
}

.sidebar {
  width: 27%;
  float: right;
  position: relative;
}

.sidebar .widget {
  border-top: 1px solid;
  padding: 1.2em 1em;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.btn {
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

.login-form {
  border-radius: 25px;
  background: #EAE6E5;
  padding: 30px 20px;
  margin-top: 30px;
}

.login-form input {
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.login-buttons {
  width: 50%;
  margin: auto;
}

/*rotating head*/

.image-holder{
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 260px;
}

.head-image,.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
}

.head-image{
  z-index: 0;
}

.circle{
  z-index: 2;
}

.front{
  z-index: 1;
}

/* clearfix */

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}