.article-holder {
    margin-bottom: 30px;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .article-holder {
        width: 100%;
    }
}

@media screen and (min-width: 1415px) {
    .article-holder {
        width: 50%;
    }
}

.article-holder > a {
    display: block;
}

.article {
    margin-bottom: 30px;
}

.article:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.article-image {
    position: relative;
    overflow: hidden;
}

.article-image > img {
    max-width: 100%;
    vertical-align: middle;
}

.article-body {
    margin-bottom: 0;
    padding: 1.625em;
    background: #fff;
}

.article-body h6 {
    margin-bottom: 1.3em;
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.625em;
    line-height: 2.6em;
}

.article-title {
    height: 4.875em;
    margin-bottom: 1.625em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article-title h5 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.625em;
}

.article:hover .main-container {
    padding: 18px;
}

.quote-of-the-day {
    padding: 0 15px;
}

.categories {

}

.categories-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media-holder {

}

.social-list li {
    display: inline-block;
}
.social-list li:not(:last-child) {
    margin-right: 1.625em;
}