.article-holder {
    float: left;
    position: relative;
    border-bottom: 1px solid;
    padding: 2.2em 15px;
    margin-bottom: 0;
}

.article-holder:first-of-type {
    border-top: 1px solid;
}

.article:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.article:hover .main-container {
    padding: 18px;
}

.article-body {
    margin-bottom: 0;
    padding: 1.625em;
}

.article-info {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 3px;
    font-weight: normal;
    margin: 0.3em 0;
}

.article-title {
    margin-bottom: 0.3em;
    font-size: 2.2em;
    font-weight: normal;
    line-height: 1.3;
}

.article-image {
    padding: 1.625em;
    position: relative;
    overflow: hidden;
}

.article-image > img {
    max-width: 100%;
    vertical-align: middle;
}

.quote-of-the-day {
    padding: 0 15px;
}

.categories {

}

.categories-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories-list a > li:not(:last-child) {
    margin-bottom: 0.3em;
}

.social-media-holder {

}

.social-list {
    padding: 0;
}

.social-list li {
    display: inline-block;
}
.social-list li:not(:last-child) {
    margin-right: 1.625em;
}