.page-header {
    margin-bottom: 50px;
    display: block;
}

#nav {
    background: #12130F;
    overflow: hidden;
}

@media screen and (max-width: 898px) {
    #nav p, #nav p.alpha, #nav p.omega {
        margin: 0;
    }
}

@media screen and (max-width: 1414px) {
    #nav {
        padding: 30px 0;
    }

    .nav-content {
        width: 40%;
        margin: 0 auto;
    }

    .nav-link {
        width: 140px;
    }

    .logo-space {
        display: none !important;
    }

    .logo-holder img {
        width: 400px;
    }

    .logo-holder {
        top: 100px;
    }

    #nav p {
        margin: 0 !important;
        line-height: 32px;
    }

    .underline {
        border: 0 !important;
    }

    #nav p.text-left, #nav p.text-right {
        text-align: center !important;
    }
}

@media screen and (min-width: 1414px) {
    #nav {
        padding: 40px 0;
    }

    .nav-link {
        width: 140px;
    }

    .logo-space {
        width: 400px;
    }

    .logo-holder img {
        width: 400px;
    }

    .logo-holder {
        top: 170px;
    }
}

@media screen and (min-width: 1602px) {
    #nav {
        padding: 50px 0;
    }

    .nav-link {
        width: 160px;
    }

    .logo-space {
        width: 450px;
    }

    .logo-holder img {
        width: 450px;
    }

    .logo-holder {
        top: 150px;
    }
}

.cover-image {
    background-image: url("/img/background2.jpg");
    height: 350px;
}

.logo-holder {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.logo-space {
    /*width: 450px;*/
}

#nav p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.nav-link {
    /*width: 160px;*/
    position: relative;
    z-index: 10;
}

.alpha {
    margin-left: 0 !important;
}

.omega {
    margin-right: 0 !important;
}

#nav a img {
    float: left;
}

#nav a {
    padding-bottom: 5px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #5B9279;
}

.underline {
    border-bottom: 1px solid;
}

.underline:hover {
    color: #8FCB9B ;
    border-bottom: 1px solid;
}

/*Dropdowns*/

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #12130F;
    margin: 0 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
    color: #EAE6E5;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #8F8073;
}

.dropdown:hover .dropdown-content {
    display: block;
}