* {
  -webkit-box-sizing: border-box;
  /*Search, also :before and :after*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  word-spacing: 1px;
  line-height: 1.8;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  text-transform: none;
  letter-spacing: 0;
  color: #12130F;
}

h1, h2, h3, h4, h5, h6 {
  color: #12130F;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, textarea, button, select {
  color: #12130F;
  border: 1px solid #000;
  background: none;
  text-align: left;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, #form-horizontal input#submit:hover, .contact-form input#submit:hover {
  background: #12130F;
  color: #EAE6E5;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], select {
  line-height: 1.8;
  padding: 9px 10px;
}

textarea {
  padding: 0.5em 1em;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #12130F;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #12130F;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #12130F;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.fonts-bangers {
  font-family: Bangers;
  font-weight: 500;
  font-size: 32px;
}

.fonts-regular {
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}

.licorice-color {
  color: #12130F !important;
}

.wintergreen-dream-color {
  color: #5B9279 !important;
}

.eton-blue-color {
  color: #8FCB9B !important;
}

.platinum-color {
  color: #EAE6E5 !important;
}

.cinereous-color {
  color: #8F8073 !important;
}

.wrap {
  padding: 20px 0;
}

.page-border {
  margin: 20px;
  background: #EAE6E5;
}

.parallelogram-image {
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/* HEADER */

.page-header {
  margin-bottom: 50px;
  display: block;
}

#nav {
  background: none;
  overflow: hidden;
  padding: 10px 0;
}

#cover-image {
  display: block;
  width: 100% !important;
  height: auto;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logo-mobile-br {
  display: none !important;
}

.logo-img {
  max-width: 100%;
}

.logo-mobile {
  display: none !important;
}

#nav p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 120px;
  font-size: 12px;
}

#nav p.logo {
  width: 200px;
  margin: 0;
}

.alpha {
  margin-left: 0 !important;
}

.omega {
  margin-right: 0 !important;
}

#nav a img {
  float: left;
}

#nav a {
  padding-bottom: 5px;
  display: block;
  cursor: pointer;
}

.underline {
  border-bottom: 1px solid;
}

.underline:hover {
  opacity: .65;
  border-bottom: 1px solid;
}

/* MAIN */

.main-container {
  margin: 2.2em auto 5em;
  padding-left: 15px;
  padding-right: 15px;
  width: 1120px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.btn {
  margin-top: 1%;
  padding: 8px;
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

/* PAGE SECTIONS */

.page-section {
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.page-section-mobile {
  display: none !important;
}

.page-section:first-of-type {
  padding-top: 5%;
}

.page-subsection {
  position: relative;
  z-index: 0;
  padding: 0;
}

.section-title {
  font-size: 60px;
  line-height: 1;
  margin: 20px 0 20px;
}

.small-title {
  font-size: 40px;
}

/* BLOG */

.search-field input {
  width: 60%;
}

.post-section {
  padding: 4% 4% 0 4%;
}

.article-holder {
  position: relative;
  border-bottom: 1px solid;
  padding: 3% 3% 12%;
  margin-bottom: 0;
}

.article:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.article:hover .main-container {
  padding: 18px;
}

.article-body {
  margin-bottom: 0;
  padding: 1.625em;
}

.article-info {
  font-size: 12px;
}

.article-title {
  margin-bottom: 0.3em;
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.3;
}

.article-image {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.article-image-home {
  width: 80%;
}

.article-image>img {
  width: 100%;
  vertical-align: middle;
}

.article-content {
  margin: 10% 0;
  font-size: 18px;
}

.article-document {
  width: 100%;
  height: 500px;
}

.article-buttons {
  margin: 0 10px 0 0;
}

.article-buttons>a:first-of-type>.btn {
  margin: 0 10px 0 0;
}

.similar-articles-descriptions h3, h4 {
  width: 60%;
  margin: 2% auto;
}

.similar-articles-images {
  width: 40%;
  margin: 0 auto;
}

.similar-articles-images img {
  width: 100%;
  height: auto;
}

.popular-tags {
  width: 100%;
  margin: 0 auto;
}

.popular-tags a:hover {
  opacity: 0.8;
}

.popular-tags p {
  margin: 0 10px 10px 10px;
  padding: 0 10px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 22px;
}

.pager {
  margin: 1.6em 0 0.5em;
  overflow: hidden;
  float: left;
  position: relative;
  width: 100%;
}

.pager-next {
  float: left;
  text-align: center;
  margin-right: 15px;
}

.pager-previous {
  float: right;
  text-align: center;
  width: 30%;
  margin-left: 15px;
}

.meta-line {
  width: 50px;
  border-bottom: 1px solid;
  margin: 0 auto;
}

.search-submit {
  display: none;
}

.page-content {
  margin: 1.5em 0 0;
}

.social-list {
  padding: 0;
}

.social-list li {
  display: inline-block;
}

.social-list li:not(:last-child) {
  margin-right: 1.625em;
}

/* FORMS */

#form-horizontal {
  width: 50%;
  margin: 0 auto;
}

#form-horizontal button {
  width: 100%;
}

#form-horizontal input, select {
  width: 100%;
}

.form-submit {
  margin-top: 1%;
  padding: 8px;
  width: 100%;
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

#form-horizontal label {
  margin-bottom: 10px;
  text-align: left;
}

.delete-article-image {
  margin: 0 0 50px 0;
}

.form-buttons input:first-of-type {
  margin: 50px 0 0 0;
}

.form-buttons>a>button {
  margin: 10px 0 0 0;
}

/* ASSIGNMENTS */

#assignments-page-image {
  background: url(../img/assignments-image.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

#assignment-1-image {
  background: url(../img/assignment-1-image.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

#assignment-2-image {
  background: url(../img/assignment-1-image.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

#assignment-3-image {
  background: url(../img/assignment-1-image.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

#assignment-4-image {
  background: url(../img/assignment-1-image.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

.assignment-image {
  margin: 3% 0 0 0;
  height: 250px;
}

/* ABOUT */

#about-page-image {
  background: url(../img/about-image.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

.about-boxed-paragraph-subsection {
  padding: 0 18px;
  height: 450px;
  width: 36%;
}

.about-left-subsection {
  float: left;
}

.about-right-subsection {
  float: right;
}

.rotating-head {
  padding: 95px 0;
}

.about-intro {
  float: none;
  line-height: 1.4;
}

.about-intro p {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 300;
}

.main-intro {
  max-width: 980px;
  margin: 4% auto 0;
}

/* Rotating head */

.image-holder {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 260px;
}

.head-image, .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
}

.head-image {
  z-index: 0;
}

.circle {
  z-index: 2;
}

.front {
  z-index: 1;
}

/* CONTACT */

#contact-page-image {
  background: url(../img/cover1.jpg);
  background-position: 50%;
  background-size: cover;
  height: 500px;
}

.contact-form {
  padding: 30px 50px;
}

.contact-form p {
  font-size: 20px;
}

.contact-message {
  margin-bottom: 1%;
}

.contact-field {
  display: inline;
}

.contact-form input[type="email"], input[type="text"] {
  width: 32.7%;
  float: left;
  margin-right: 1.3%;
  margin-bottom: 2%;
}

.contact-form input[type="email"] {
  width: 32%;
  float: right;
  margin-right: 0;
}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-widget {
  margin: 5%;
}

.contact-widget:first-of-type {
  margin: 0;
}

.contact-widget:last-of-type {
  margin: 0;
}

.contact-widget p {
  margin: 0;
}

.map {
  margin: 20px 0;
  position: relative;
  text-align: right;
  height: 400px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}

/* FOOTER */

.page-footer {
  display: block;
  padding-top: 5%;
}

.footer-utility {
  margin-bottom: 1%;
}

.footer-utility:last-of-type {
  margin: 0;
}

.footer-category {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 16px;
}

.footer-copyright {
  margin: 0;
  font-size: 12px;
}

/* Clearfix */

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/* Media */

@media screen and (max-width: 1180px) {
  /* HEADER */
  #nav p {
    width: 108px;
  }
  .logo-mobile {
    display: none !important;
  }
  .logo-mobile-br {
    display: none !important;
  }
  .logo-normal {
    display: inline-block !important;
  }
  /* MAIN */
  .main-container {
    width: 960px;
  }
  .about-boxed-paragraph-subsection {
    padding: 0 18px;
  }
  .section-title {
    font-size: 60px;
  }
  .small-title {
    font-size: 40px;
  }
  .about-intro p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1016px) {
  /* HEADER */
  #nav p {
    width: 87px;
  }
  .logo-mobile {
    display: none !important;
  }
  .logo-mobile-br {
    display: none !important;
  }
  .logo-normal {
    display: inline-block !important;
  }
  /* MAIN */
  .main-container {
    width: 840px;
  }
  .section-title {
    font-size: 55px;
  }
  .small-title {
    font-size: 40px;
  }
  .about-intro p {
    font-size: 20px;
  }
}

@media screen and (max-width: 898px) {
  /* HEADER */
  #nav p, #nav p.alpha, #nav p.omega {
    margin: 0;
  }
  #nav p {
    width: auto;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 32px;
  }
  #nav a {
    padding: 0 3px;
    border: none;
  }
  .nav-content {
    width: 320px;
    margin: 0 auto;
  }
  #nav p.logo {
    margin-bottom: 15px;
    width: 160px;
  }
  .logo-mobile {
    display: inline-block !important;
  }
  .logo-mobile-br {
    display: block !important;
  }
  .logo-normal {
    display: none !important;
  }
  .underline {
    border: 0 !important;
  }
  #nav p.text-left, #nav p.text-right {
    text-align: center !important;
  }
  /* MAIN */
  .main-container {
    width: 90%;
  }
  .page-section-pc {
    display: none !important;
  }
  .page-section-mobile {
    display: block !important;
  }
  .page-section>p {
    font-size: 14px;
  }
  .section-title {
    font-size: 50px;
  }
  .about-intro p {
    font-size: 20px;
  }
  .pager a {
    font-size: 26px;
  }
  .pager-next .meta-line {
    display: none;
  }
  .pager-previous .meta-line {
    display: none;
  }
  #form-horizontal {
    width: 100%;
  }
  .article-image {
    width: 100% !important;
  }
  .similar-articles-images {
    width: 100% !important;
  }
  .article-document {
    height: 300px;
  }
  /* ASSIGNMENTS */
  #assignments-page-image {
    background-position: 45%;
    height: 300px;
  }
  /* ABOUT */
  #about-page-image {
    background-position: 45%;
    height: 300px;
  }
  /* CONTACT */
  #contact-page-image {
    height: 300px;
  }
  .contact-form {
    padding: 10px;
  }
  .contact-field {
    display: block;
  }
  .contact-field input {
    float: none !important;
    width: 100% !important;
    margin: 0 0 2% 0 !important;
  }
}