/* GENERAL ELEMENTS STYLES */

* {
  /* box-sizing specifies how the width and the height of the element are calculated.
  It affects the height and width properties. */
  /* border-box tells the browser to account for any border and padding 
  in the values spicified for an element's width and height. 
  If an element's width is 100 pixels, that 100 pixels will include any border or padding added, 
  and the content box will shrink to absorb that extra width. */
  /* Every browser is backed by a rendering engine to draw the HTML/CSS web page. */
  -webkit-box-sizing: border-box;
  /* For Safari and Chrome */
  -moz-box-sizing: border-box;
  /* For Mozilla */
  box-sizing: border-box;
  /* For Chrome, Internet Explorer and Opera */
}

body {
  margin: 0;
  font-size: 100%;
  word-spacing: 1px;
  line-height: 1.8;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  color: #12130F;
}

/* select and style each header tag */
h1, h2, h3, h4, h5, h6 {
  color: #12130F;
  margin-top: 0;
  margin-bottom: 0;
}

/* select and style each anchor tag */
a {
  color: inherit;
  /* inherit the color from the parent element in order to remove the default blue color*/
  text-decoration: none;
  /* remove the underscore that is set by default */
}

/* select and style each unordered list tag */
ul {
  list-style-type: none;
  /* specifies the type of list-item marker in a list */
}

/* select and style each input, textarea and button tags */
input, textarea, button, select {
  color: #12130F;
  border: 1px solid #000;
  background: none;
  text-align: left;
}

/* select and style each input element with a type on hover */
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, #form-horizontal input#submit:hover, .contact-form input#submit:hover {
  background: #12130F;
  color: #EAE6E5;
}

/* select and style each input element with a type */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], select {
  line-height: 1.8;
  padding: 9px 10px; /* means: padding-top: 9px; padding-right: 10px; padding-bottom: 9px; padding-left: 10px;*/
}

textarea {
  padding: 0.5em 1em;
  width: 100%;
}

/* Placeholders in forms (the text that appears when there is no input information in the input) */

/* For Chrome, Firefox, Opera, Safari 10.1+ */

::placeholder {
  color: #12130F;
  opacity: 1;
}

/* For Internet Explorer 10-11 */

:-ms-input-placeholder {
  color: #12130F;
}

/* For Microsoft Edge */

::-ms-input-placeholder {
  color: #12130F;
}

/* Change appearance of buttons and buttons with types button, reset and submit */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn {
  margin-top: 1%;
  padding: 8px;
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px !important;
}

.fonts-bangers {
  font-family: Bangers;
  font-weight: 500;
  font-size: 32px;
}

.fonts-regular {
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}

.parallelogram-image {
  /* Cut as a parallelogram */
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* HEADER */

.page-header {
  margin-bottom: 50px;
  display: block;
}

#nav {
  background: none;
  overflow: hidden; /* the overflow of content is clipped, and the rest of the content will be invisible */
  padding: 10px 0;
}

.logo {
  max-width: 100%;
  height: auto; /* automatically use the height of div regarding the height of the content */
}

.logo-mobile-br {
  display: none !important;
}

.logo-img {
  max-width: 100%;
}

.logo-mobile {
  display: none !important;
}

/* select and style every <p> element that is inside the element with id "nav" */
#nav p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; /* This translates to: margin-top: 0; margin-right: 10px; margin-bottom: 0; margin-left: 10px; */
  width: 120px;
  font-size: 12px;
}

/* select and style every <p> element with class "logo" that is inside the element with id "nav" */
#nav p.logo {
  width: 200px;
  margin: 0;
}

.alpha {
  margin-left: 0 !important;
}

.omega {
  margin-right: 0 !important;
}

/* select and style every <img> element that is inside <a> elements that are inside the element with id "nav" */
#nav a img {
  float: left;
}

/* select and style every <a> element that is inside the element with id "nav" */
#nav a {
  padding-bottom: 5px;
  display: block;
  cursor: pointer;
}

.underline {
  border-bottom: 1px solid;
}

.underline:hover {
  opacity: .65;
  border-bottom: 1px solid;
}

/* HOME PAGE */

.wrap {
  padding: 20px 0;
}

.page-border {
  margin: 20px;
  background: #EAE6E5;
}

.main-container {
  margin: 2.2em auto 5em; /* This translates to: margin-top: 2.2em; margin-right: auto; margin-bottom: 5em; margin-left: auto; */
  /* The auto part I use to center the main-container div in the main */
  padding-left: 15px;
  padding-right: 15px;
  width: 1120px;
}

/* PAGE SECTIONS */

/* Page sections are divs that divide content on a page into sections */

.page-section {
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.page-section-mobile {
  display: none !important;
}

/* specify padding-top for the first element with class "page-section" of its parent */
.page-section:first-of-type {
  padding-top: 5%;
}

.page-subsection {
  position: relative;
  padding: 0;
}

.section-title {
  font-size: 58px;
  line-height: 1;
  margin: 20px 0;
}

.small-title {
  font-size: 40px;
}

/* BLOG */

/* select and style every <input> element that is inside elements with class "search-field" */
.search-field input {
  width: 60%;
}

.post-section {
  padding: 4% 4% 0 4%;
}

.article-holder {
  position: relative;
  border-bottom: 1px solid;
  padding: 3%;
  margin-bottom: 0;
}

.article:hover {
  /* Attaches one or more shadows to an element */
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.article:hover .main-container {
  padding: 18px;
}

.article-body {
  margin-bottom: 0;
  padding: 1.625em;
}

.article-info {
  font-size: 12px;
}

.article-title {
  margin-bottom: 0.3em;
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.3;
}

.article-image {
  position: relative;
  overflow: hidden;
  margin: 0 auto; /* Again, here, combination of 0 and auto is used to center the div in the parent */
}

.article-image-home {
  width: 80%;
  padding-bottom: 1%;
}

/* select and style every <img> element where the parent has class "article-image" */
.article-image>img {
  width: 100%;
  vertical-align: middle;
}

.article-content {
  margin: 10% 0;
  font-size: 18px;
}

.article-document-pc {
  display: block !important;
  width: 100%;
  height: 500px;
}

.article-document-mobile {
  display: none !important;
  text-decoration: underline;
  font-size: 24px;
}

.article-buttons {
  margin: 0 10px 0 0;
}

.article-buttons>a:first-of-type>.btn {
  margin: 0 10px 0 0;
}

/* select and style every <h3> and <h4> elements that are inside elements with class "similar-articles-descriptions" */
.similar-articles-descriptions h3, h4 {
  width: 60%;
  margin: 2% auto; /* centered div */
}

.similar-articles-images {
  width: 40%;
  margin: 0 auto; /* centered div */
}

/* select and style every <img> element that is inside elements with class "similar-articles-images" */
.similar-articles-images img {
  width: 100%;
  height: auto; /* use the default height of the image */
}

.popular-tags {
  width: 100%;
  margin: 0 auto; /* centered div */
}

/* select and style every <a> elements on hover that are inside elements with class "popular-tags" */
.popular-tags a:hover {
  opacity: 0.8;
}

/* select and style every <p> element that is inside elements with class "popular-tags" */
.popular-tags p {
  margin: 0 10px 10px 10px;
  padding: 0 10px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 22px;
}

.pager {
  margin: 1.6em 0 0.5em;
  overflow: hidden;
  float: left;
  position: relative;
  width: 100%;
}

.pager-next {
  float: left;
  text-align: center;
  margin-right: 15px;
}

.pager-previous {
  float: right;
  text-align: center;
  width: 30%;
  margin-left: 15px;
}

.meta-line {
  width: 50px;
  border-bottom: 1px solid;
  margin: 0 auto; /* centered div */
}

.search-submit {
  display: none;
}

.page-content {
  margin: 1.5em 0 0;
}

/* FORMS */

#form-horizontal {
  width: 50%;
  margin: 0 auto;
}

#form-horizontal button {
  width: 100%;
}

#form-horizontal input, select {
  width: 100%;
}

.form-submit {
  margin-top: 1%;
  padding: 8px;
  width: 100%;
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

#form-horizontal label {
  margin-bottom: 10px;
  text-align: left;
}

.delete-article-image {
  margin: 0 0 50px 0;
}

.form-buttons input:first-of-type {
  margin: 50px 0 0 0;
}

.form-buttons>a>button {
  margin: 10px 0 0 0;
}

/* ABOUT */

#about-page-image {
  background: url(../img/about-image.jpg);
  background-size: cover;
  height: 500px;
}

.quote {
  font-size: 32px;
}

.about-boxed-paragraph-subsection {
  padding: 0 18px;
  height: 450px;
  width: 36%;
}

.about-left-subsection {
  float: left;
}

.about-right-subsection {
  float: right;
}

.rotating-head {
  padding: 95px 0;
}

.about-intro {
  float: none;
  line-height: 1.4;
}

/* select and style every <p> element that is inside elements with class "about-intro" */
.about-intro p {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 300;
}

.main-intro {
  max-width: 980px;
  margin: 4% auto 0;
}

/* Rotating head in About page */

.image-holder {
  position: relative;
  margin: 0 auto; /* centered div */
  width: 260px;
  height: 260px;
}

/* select and style all elements with class "head-image" and all elements with class "circle" */
.head-image, .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
}

/* The z-index property specifies the stack order of an element */

/* An element with greater stack order is always in front of an element with a lower stack order */

/* z-index only works on positioned elements - the position is specified in .head-image */

.head-image {
  z-index: 0;
}

.circle {
  z-index: 2;
}

.front {
  z-index: 1;
}

/* CONTACT */

#contact-page-image {
  background: url(../img/contact-image.jpg);
  background-size: cover;
  height: 500px;
}

.contact-form {
  padding: 30px 50px;
}

/* select and style every <p> element that is inside elements with class "contact-form" */
.contact-form p {
  font-size: 20px;
}

.contact-message {
  margin-bottom: 1%;
}

.contact-field {
  display: inline;
}

/* select and style every <input> element with the specified type that is inside elements with class "contact-form" */
.contact-form input[type="email"], input[type="text"] {
  width: 32.7%;
  float: left;
  margin-right: 1.3%;
  margin-bottom: 2%;
}

/* select and style every <input> element with type "email" that is inside elements with class "contact-form" */
.contact-form input[type="email"] {
  width: 32%;
  float: right;
  margin-right: 0;
}

/* select and style every <textarea> element that is inside elements with class "contact-form" */
.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-widget {
  margin: 5%;
}

/* specify margin for the first element with class "contact-widget" of its parent */
.contact-widget:first-of-type {
  margin: 0;
}

/* specify margin for the last element with class "contact-widget" of its parent */
.contact-widget:last-of-type {
  margin: 0;
}

/* select and style every <p> element that is inside elements with class "contact-widget" */
.contact-widget p {
  margin: 0;
}

.map {
  margin: 20px 0;
  position: relative;
  text-align: right;
  height: 400px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}

/* FOOTER */

.page-footer {
  display: block;
  padding-top: 5%;
}

.footer-utility {
  margin-bottom: 1%;
}

/* specify margin for the last element with class "footer-utility" of its parent */
.footer-utility:last-of-type {
  margin: 0;
}

.footer-category {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 16px;
}

.footer-copyright {
  margin: 0;
  font-size: 12px;
}

.social-list {
  padding: 0;
}

/* select and style every <li> element that is inside elements with class "social-list" */
.social-list li {
  display: inline-block;
}

/* specify margin-right for the <li> element that is the last child of its parent with class "social-list" */
.social-list li:not(:last-child) {
  margin-right: 1.625em;
}

/* Clearfix */

/* Elements after a floating element will flow around it. Using the "clearfix" hack will fix the problem. */
/* ::after - do something after the content of each element with class "clearfix" */

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/* RESPONSIVE SETTINGS */

/* When the width of the screen becomes 1180px or less, select and style the following elements: */

@media screen and (max-width: 1180px) {
  /* HEADER */
  /* select and style every <p> element that is inside the element with id "nav" */
  #nav p {
    width: 108px;
  }
  .logo-mobile {
    display: none !important;
  }
  .logo-mobile-br {
    display: none !important;
  }
  .logo-normal {
    display: inline-block !important;
  }
  /* MAIN */
  .main-container {
    width: 960px;
  }
  .about-boxed-paragraph-subsection {
    padding: 0 18px;
  }
  .section-title {
    font-size: 58px;
  }
  .small-title {
    font-size: 40px;
  }
  /* select and style every <p> element that is inside elements with class "about-intro" */
  .about-intro p {
    font-size: 22px;
  }
}

/* When the width of the screen becomes 1016px or less, select and style the following elements: */

@media screen and (max-width: 1016px) {
  /* HEADER */
  /* select and style every <p> element that is inside the element with id "nav" */
  #nav p {
    width: 87px;
  }
  .logo-mobile {
    display: none !important;
  }
  .logo-mobile-br {
    display: none !important;
  }
  .logo-normal {
    display: inline-block !important;
  }
  /* MAIN */
  .main-container {
    width: 840px;
  }
  .section-title {
    font-size: 48px;
  }
  .small-title {
    font-size: 40px;
  }
  /* select and style every <p> element that is inside elements with class "about-intro" */
  .about-intro p {
    font-size: 20px;
  }
}

/* When the width of the screen becomes 898px or less, select and style the following elements: */

@media screen and (max-width: 898px) {
  /* HEADER */
  /* select and style every <p> element that is inside the element with id "nav" */
  /* select and style every <p> element with class "alpha" that is inside the element with id "nav" */
  /* select and style every <p> element with class "omega" that is inside the element with id "nav" */
  #nav p, #nav p.alpha, #nav p.omega {
    margin: 0;
  }
  /* select and style every <p> element that is inside the element with id "nav" */
  #nav p {
    width: auto;
    font-size: 18px;
    word-spacing: 1px;
    line-height: 32px;
  }
  /* select and style every <a> element that is inside the element with id "nav" */
  #nav a {
    padding: 0 3px;
    border: none;
  }
  .nav-content {
    width: 320px;
    margin: 0 auto; /* centered div */
  }
  /* select and style every <p> element with class "logo" that is inside the element with id "nav" */
  #nav p.logo {
    margin-bottom: 15px;
    width: 160px;
  }
  .logo-mobile {
    display: inline-block !important;
  }
  .logo-mobile-br {
    display: block !important;
  }
  .logo-normal {
    display: none !important;
  }
  .underline {
    border: 0 !important;
  }
  /* select and style every <p> element with class "text-left" that is inside the element with id "nav" */
  /* select and style every <p> element with class "text-right" that is inside the element with id "nav" */
  #nav p.text-left, #nav p.text-right {
    text-align: center !important;
  }
  /* MAIN */
  .main-container {
    width: 90%;
  }
  .page-section-pc {
    display: none !important;
  }
  .page-section-mobile {
    display: block !important;
  }
  /* select and style every <p> element where the parent has class "page-section" */
  .page-section>p {
    font-size: 14px;
  }
  .section-title {
    font-size: 38px;
  }
  /* select and style every <p> element that is inside elements with class "about-intro" */
  .about-intro p {
    font-size: 20px;
  }
  /* select and style every <a> element that is inside elements with class "pager" */
  .pager a {
    font-size: 26px;
  }
  /* select and style every element with class "meta-line" that is inside elements with class "pager-next" */
  .pager-next .meta-line {
    display: none;
  }
  /* select and style every element with class "meta-line" that is inside elements with class "pager-previous" */
  .pager-previous .meta-line {
    display: none;
  }
  #form-horizontal {
    width: 100%;
  }
  .article-image {
    width: 100% !important;
  }
  .similar-articles-images {
    width: 100% !important;
  }
  .article-document-pc {
    display: none !important;
  }
  .article-document-mobile {
    display: block !important;
  }
  /* ABOUT */
  #about-page-image {
    height: 300px;
  }
  .quote {
    font-size: 24px;
  }
  /* CONTACT */
  #contact-page-image {
    height: 300px;
    background-position: 55%;
  }
  .contact-form {
    padding: 10px;
  }
  .contact-field {
    display: block;
  }
  /* select and style every <input> element that is inside elements with class "contact-field" */
  .contact-field input {
    float: none !important;
    width: 100% !important;
    margin: 0 0 2% 0 !important;
  }
}