<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/head" th:with="pageTitle='HealthBlog'"></head>

<body>

<div class="page-border clearfix">
    <div class="wrap">
        <header class="page-header text-center" th:include="fragments/header"></header>

        <main th:include="${view}"></main>

        <footer class="page-footer text-center" th:include="fragments/footer"></footer>
    </div>
</div>

<span th:include="fragments/scripts-bundle"></span>

</body>
</html>