<main th:remove="tag">
    <div class="main-container">
        <div class="about-section section-odd clearfix">
            <div class="about-photo-holder float-left">
                <img src="/img/IMG_2865.JPG"/>
            </div>

            <div class="about-content float-right text-center fonts-display">
                <p>Hi there. My name is Kaloyan. I am the owner of this blog.</p>
            </div>
        </div>

        <div class="about-section section-even clearfix">
            <div class="about-photo-holder float-right">
                <img src="/img/IMG_2865.JPG"/>
            </div>

            <div class="about-content float-left text-center fonts-display">
                <p>Hi there. My name is Kaloyan. I am the owner of this blog.</p>
            </div>
        </div>

        <div class="about-section section-odd clearfix">
            <div class="about-photo-holder float-left">
                <img src="/img/IMG_2227.JPG"/>
            </div>

            <div class="about-content float-right text-center fonts-display">
                <p>Hi there. My name is Kaloyan. I am the owner of this blog.</p>
            </div>
        </div>
    </div>
</main>