<!--<main th:remove="tag">
    <div class="container body-content">
        <div class="row">
            <div>
                <img alt="background" src="/img/background2.jpg"/>
            </div>
            <th:block th:each="article : ${articles}">
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2 th:text="${article.title}"></h2>
                        </header>

                        <p th:text="${article.summary}"></p>

                        <small class="author" th:text="${article.author.fullName}"></small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/article/{id}(id=${article.id})}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>-->

<main th:remove="tag">
    <div class="main-container">
        <div class="article">
            <th:block th:each="article : ${articles}">
                <header>
                    <h2 th:text="${article.title}"></h2>
                </header>

                <p th:text="${article.summary}"></p>

                <span th:text="${article.author.fullName}"></span>
            </th:block>
        </div>
    </div>
</main>