<main th:remove="tag">
    <div class="main-container">
        <div class="primary">
            <div class="articles-container">
                <div th:each="article : ${articles}" class="article-holder">
                    <a th:href="@{/article/{id}(id=${article.id})}">
                        <div class="article">
                            <div class="article-body text-center">
                                <h4 class="article-info">
                                    <a th:href="@{/${article.category}}" th:text="${article.category}"></a>
                                </h4>

                                <h1 class="article-title" th:text="${article.title}"></h1>

                                <div class="article-info">
                                    <span>by
                                        <span th:text="${article.author.fullName}"></span>
                                    </span>

                                    <span> | </span>

                                    <span>DATE</span>
                                </div>
                            </div>

                            <div class="article-image">
                                <img alt="Pic" th:src="${article.image}"/>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="sidebar text-center">
            <div class="utility search-field">
                <input type="text" placeholder="Search by tag..."/>
            </div>

            <div class="utility quote-of-the-day fonts-display">
                <h2>Quote of the day</h2>
                <p style="font-style: italic;">"The human body is the best picture of the human soul."</p>
                <p>- Ludwig Wittgenstein</p>
            </div>

            <div class="utility categories fonts-display">
                <ul class="categories-list">
                    <li>Fitness</li>
                    <li>Food</li>
                    <li>Lifestyle</li>
                </ul>
            </div>

            <div class="utility social-media-holder fonts-display">
                <ul class="social-list">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/kaloyan.madjunov"><img th:src="@{img/facebook.png}"/></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/kaloyanmad/"><img th:src="@{img/instagram.png}"/></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com/apple_banana/"><img th:src="@{img/pinterest.png}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>